Source: msqlitecpp
Priority: optional
Maintainer: Federico Fuga <fuga@studiofuga.com>
Build-Depends: debhelper (>= 10), libboost-filesystem1.74-dev (>= 1.71)
Standards-Version: 4.1.2
Section: libs
Homepage: https://github.com/studiofuga/mSqliteCpp
Vcs-Git: https://github.com/studiofuga/mSqliteCpp.git

Package: msqlitecpp-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: msqlitecpp1 (= ${binary:Version}), ${misc:Depends}
Description: A modern SQLite C++ interface
 This is the dev package of msqlitecpp, a library that allows access to msqlite api using C++11.

Package: msqlitecpp1
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A modern SQLite C++ interface
 This library allows access to msqlite api using C++11.

Package: msqlitecpp1-dbg
Architecture: any
Section: debug
Priority: extra
Depends:
 msqlitecpp1 (= ${binary:Version}),
 ${misc:Depends}
Description: debugging symbols for msqlitecpp
 msqlitecpp is a library that allow access to msqlite api using C++11.
 .
 This package contains the debugging symbols for msqlitecpp
